__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

venv/
ENV/
env/
.venv/

*.log
*.pot
*.pyc
media/
staticfiles/
local_settings.py

.vscode/
.idea/

.DS_Store
Thumbs.db

.env
.env.*
.coverage
htmlcov/
*.cover
.pytest_cache/
nosetests.xml
coverage.xml
.cache
