# === Django Settings ===
SECRET_KEY=your-secret-key
DEBUG=True

# === Allowed Client for CORS ===
CLIENT_API_URL=http://localhost:3000

# === Database Settings ===
DATABASE_URL=postgres://user:password@host:port/db_name

# === Redis (Celery Broker & Backend) ===
REDIS_URL=redis://user:password@host:port/db

# === vSphere Provider Credentials ===
VSPHERE_USER=vsphere-user
VSPHERE_PASSWORD=vsphere-password
VSPHERE_SERVER=vsphere-server

# === MinIO Configuration ===
# Use Docker: http://localhost:9000 for API, http://localhost:9001 for console
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password
